/* Applique la police Helvetica à tout le site */
/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold; /* Police Helvetica en gras */
}

/* Style général du corps de la page */
body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* En-tête et navigation */
header {
    background-color: #fff;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: fixed; /* Pour garder le header fixe */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Assure que le header reste au-dessus des autres éléments */
}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #000; /* Couleur noire */
    font-size: 1.2em;
    font-weight: bold; /* Plus gras */
    padding: 5px 10px;
}

header nav ul li a:hover {
    color: #555; /* Gris plus clair au survol */
}

/* Section Landing */
#landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 60px; /* Pour compenser la hauteur du header fixe */
}

#landing h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#landing img {
    cursor: pointer;
    max-width: 80%;
    border-radius: 5px;
    margin-bottom: 20px;
}

#landing p {
    font-size: 1.2em;
    color: #555;
}

/* Footer */
footer {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    margin-top: 20px;
}
